@import "../variable";
.table_wrapper {
    margin-bottom: 50px;
    table {
        min-width: $tablet-min-width;
        tr {
            th {
                width: auto;
            }
            td {

            }
        }
    }
}
