$header-height: 72.27px;
$header-height-lg: 148.89px;
$header-height-xxl: 87.89px;
.slick-slider {
  .slick-list {
    .slick-slide {
      .banner {
        position: relative;
        >img {
          object-fit: cover;
          width: 100%;
          height: calc(100vh - $header-height);
          @include media-breakpoint-up(lg) {
            height: calc(100vh - $header-height-lg);
          }
          @include media-breakpoint-up(xxl) {
            height: calc(100vh - $header-height-xxl);
          }
        }
        .textbox {
          position: absolute;
          top: 10vw;
          left: 0;
          right: 0;
          color: $white;
          @include media-breakpoint-up(lg) {
            margin-top: 50px;
          }
          @include media-breakpoint-up(xl) {
            margin-top: 100px;
          }
          @include media-breakpoint-up(xxl) {
            margin-top: 150px;
          }
      
          .content {
            text-align: center;
            h2 {
              font-size: 30px;
              margin-bottom: 30px;
              color: inherit;
              line-height: 1.2;
              @include media-breakpoint-up(sm) {
                font-size: 40px;
              }
              @include media-breakpoint-up(lg) {
                font-size: 64px;
              }
            }
  
            h3 {
              font-size: 24px;
              font-weight: 400;
              color: inherit;
              line-height: 1.2;
              @include media-breakpoint-up(sm) {
                font-size: 30px;
              }
              @include media-breakpoint-up(lg) {
                font-size: 36px;
              }
            }
            ul {
              list-style-type: disclosure-closed;
              @include media-breakpoint-up(lg) {
                list-style-type: disc;
                display: flex;
                flex-direction: row;
                justify-content: center;
              }
              li {
                width: fit-content;
                text-align: start;
                &::marker {
                  color: $red;
                }
                @include media-breakpoint-up(lg) {
                  &::marker {
                    color: $white;
                  }
                  margin-right: 28px;
    
                  &:first-child {
                    list-style-type: none;
                    padding-left: 0;
                  }
                  &:last-child {
                    margin-right: 0;
                  }
                }
                @include media-breakpoint-up(xl) {
                  margin-right: 38px;
                  padding-left: 10px;
                }
                @include media-breakpoint-up(xxl) {
                  margin-right: 49px;
                  padding-left: 21px;
                }
              }
            }
  
            .button_container {
              text-align: center;
              width: 100%;
  
              @include media-breakpoint-up(lg) {
                margin-bottom: 50px;
              }
              @include media-breakpoint-up(xxxl) {
                margin-bottom: 150px;
              }
  
              a {
                margin: 0 20px 20px;
              }
            }
  
            .learn-more {
              display: flex;
              flex-direction: column;
              @include media-breakpoint-up(lg) {
                margin-bottom: 30px;
              }
              button {
                text-align: center;
                text-decoration: none;
                color: $white;
                align-self: center;
                background-color: unset;
                border: none;
              }
            }
  
            p {
              display: none;
  
              @include media-breakpoint-up(md) {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  .slick-arrow {
    z-index: 1;
    top: 50%;
    height: 23px;
    width: 23px;
    background-color: $white;
    border-radius: 50%;
    outline: unset;

    &:focus {
      top: 50%;
      background-color: $white;
    }

    &::before {
      font-size: 30px;
      color: $cyan;
      display: flex;
      width: inherit;
      height: inherit;
      justify-content: center;
      align-items: center;
    }
  }

  .slick-prev {
    left: 10px;
  }

  .slick-next {
    right: 10px;
  }

  .slick-dots {
    bottom: 10px;
    li {
      margin: 0;
      &.slick-active {
        button {
          &::before {
            color: $cyan;
          }

          &:focus {
            &::before {
              color: $cyan;
            }
          }
        }
      }

      button {
        &::before {
          font-size: 6px;

          @include media-breakpoint-up(lg) {
            font-size: 10px;
          }
        }

        &:focus {
          &::before {
            color: $cyan;
          }
        }
      }
    }
  }
}

#about-section {
  padding-top: 80px;
  padding-bottom: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media-breakpoint-up(lg) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  @include media-breakpoint-up(xxl) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

#our-values-section {
  padding: 100px 0;
  background-color: $gray-100;
  .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include media-breakpoint-up(lg) {
      justify-content: start;
    }

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 100%;
      margin-bottom: 50px;
      @include media-breakpoint-up(sm) {
        flex-basis: 48%;
      }

      @include media-breakpoint-up(lg) {
        flex-basis: 23.5%;
        margin-right: 2%;

        &:nth-child(4n) {
          margin-right: 0;
        }
      }

      .image_wrapper {
        margin-bottom: 20px;
        img {
          height: 200px;
          width: 100%;
        }
      }

      h3 {
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
      }
    }
  }
  .button_wrapper {
    text-align: center;
  }
}

#our-services-section {
  padding: 100px 0;
  background-color: $gray-300;
  @include media-breakpoint-up(lg) {
    height: 700px;
    background-image: url("../assets/images/our_services.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  @include media-breakpoint-up(xxxl) {
    height: 900px;
  }
  h2 {
    @include media-breakpoint-up(lg) {
      margin: 0;
      float: left;
    }
  }
  .boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media-breakpoint-up(md) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
    }
    @include media-breakpoint-up(lg) {
      display: block;
      float: right;
    }
    .box {
      background-color: $white;
      border-radius: 60px;
      padding: 10px 20px;
      margin-bottom: 20px;
      width: fit-content;
      min-width: 225px;
      text-align: center;
      font-weight: 600;
      @include media-breakpoint-up(md) {
        flex-basis: 48%;
        &:nth-child(2n-1) {
          margin-right: 2%;
        }
        &:nth-child(2n) {
          margin-left: 2%;
        }
      }
      @include media-breakpoint-up(lg) {
        padding: 10px 50px;
        text-align: center;
        width: auto;
        &:nth-child(n) {
          margin-left: 0;
          margin-right: 0;
        }
      }
      a {
        color: $black;
        text-decoration: none;
        @include media-breakpoint-up(lg) {
          font-size: 20px;
          font-weight: 600;
        }
        @include media-breakpoint-up(xxxl) {
          font-size: 32px;
          font-weight: 600;
        }
      }
    }
  }
}

.our-team-section {
  padding: 100px 0;
  .members {
    display: flex;
    flex-direction: column;
    @media (min-width: 300px) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    @include media-breakpoint-up(lg) {
      justify-content: space-evenly;
    }

    .member {
      padding: 30px 0;
      text-align: center;
      @media (min-width: 300px) {
        flex-basis: 47%;
      }
      @include media-breakpoint-up(lg) {
        flex-basis: 20%
      }

      img {
        width: 100%;
      }

      h3 {
        font-size: 20px;
        margin: 10px 0;
      }

      p {
        margin-bottom: 0;
      }

      .button {
        width: fit-content;
        margin: 0 auto;
      }
    }
  }
}