@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "variable";
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 2;
  font-size: 16px;
  overflow-x: hidden;
  margin: 0;
  letter-spacing: 0.5px;
}
h1, h2 ,h3 ,h4 ,h5 ,h6 {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.6;
  font-weight: 600;
  margin-top: 0;
  color: black;
}

h1 {
  font-size: 30px;
  @media (min-width: $desktop-min-width) {
    font-size: 45px;
  }
  @media (min-width: $desktop-min-width-2) {
    font-size: 54px;
  }
}

h2 {
  font-size: 25px;
  margin-bottom: 20px;
  @media (min-width: $desktop-min-width) {
    font-size: 37px;
    margin-bottom: 40px;
  }
  @media (min-width: $desktop-min-width-2) {
    font-size: 45px;
  }
  &.underline {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    border-bottom: 10px solid $red;
  }
}

h3 {
  font-size: 22px;
  @media (min-width: $desktop-min-width) {
    font-size: 37px;
  }
}

h4 {
  font-size: 20px;
  @media (min-width: $desktop-min-width) {
    font-size: 30px;
  }
}

h5 {
  font-size: 18px;
  @media (min-width: $desktop-min-width) {
    font-size: 25px;
  }
}

ul, ol {
  font-size: 14px;
  letter-spacing: 0.4px;
  margin-top: 0;
  margin-bottom: 30px;
  @media (min-width: $desktop-min-width) {
    font-size: 16px;
  }
  @media (min-width: $desktop-min-width-2) {
    font-size: 18px;
  }
}

nav ul, nav ol {
  list-style-type: none;
  padding: 0;
  font-weight: 700;
}

nav ul li, nav ol li {
  padding: 0.5rem 1rem;
}

nav ul li a, nav ol li a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

a {
  @media (min-width: $desktop-min-width) {
    &:hover {
      color: $lightblue;
    }
  }
  &.button {
    position: relative;
    display: inline-block;
    color: $red;
    font-weight: 600;
    background-color: $white;
    padding: 5px 20px;
    text-decoration: none;
    border-bottom: 3px solid $black;
    box-shadow: 0px 1px 0 0 $white;
    border-radius: 10px;
    @media (min-width: $desktop-min-width) {
      &:hover {
        background-color: $red;
        color: $white;
      }
    }
  }
}

p {
  margin-top: 0;
  margin-bottom: 30px;
}

.table_wrapper {
  overflow-x: auto;
  table {
    width: 100%;
    margin-bottom: 30px;
    border-spacing: 0;
    border: 0.5px solid grey;
    tbody {
      tr {
        &:nth-of-type(odd) {
          background-color: $white;
        }
        @media (min-width: $desktop-min-width) {
          &:hover {
            background-color: $lightblue;
            color: $white;
            // font-weight: 700;
          }
        }
      }
    }
    tr {
      th {
        text-align: start;
        border: 0.5px solid grey;
        padding: 0.5rem;
      }
      td {
        text-align: start;
        border: 0.5px solid grey;
        padding: 0.5rem;
        p:last-of-type {
          margin-bottom: 0;
        }
        ul {
          padding-left: 2rem;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.breadcrumb {
  margin-top: 30px;
  margin-bottom: 30px;
  a {
    text-decoration: none;
    &.active {
      &:last-child {
        color: $lightblue;
      }
    }
  }
  > span {
    margin: 0 10px;
  }
}

.overviews {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  @media (min-width: $tablet-min-width) {
    justify-content: space-between;
  }
  @media (min-width: $desktop-min-width) {
    justify-content: unset;
    margin-bottom: 50px;
  }
  .overview {
    position: relative;
    margin-bottom: 30px;
    flex-basis: 100%;
    @media (min-width: $tablet-min-width) {
      flex-basis: 48%;
    }
    @media (min-width: $desktop-min-width) {
      margin-right: 2%;
      flex-basis: 32%;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    @media (min-width: $desktop-min-width-2) {
      margin-right: 2%;
      flex-basis: 23.5%;
      &:nth-child(3n) {
        margin-right: 2%;
      }
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
    a {
      text-decoration: none;
    }
    img {
      @media (min-width: $tablet-min-width) {
        height: 200px;
      }
      @media (min-width: $tablet-min-width-1) {
        height: 250px;
      }
      @media (min-width: $desktop-min-width) {
        height: 300px;
      }
      @media (min-width: $desktop-min-width-1) {
        height: 350px;
      }
      @media (min-width: $desktop-min-width-2) {
        height: 400px;
      }
    }
    .title {
      text-align: center;
      color: $white;
      background-color: grey;
      padding: 10px 0;
      font-size: 20px;
    }
    h2 {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      height: fit-content;
      text-align: center;
      background-color: grey;
      padding: 10px 0;
      font-size: 20px;
      @media (min-width: $desktop-min-width) {
        &:hover {
          color: $lightblue;
        }
      }
    }
  }
}

.card_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  @media (min-width: $desktop-min-width) {
    margin-bottom: 50px;
    > div:nth-child(3n) {
      margin-right: 0;
    }
  }
  .card {
    position: relative;
    margin-bottom: 30px;
    @media (min-width: $desktop-min-width) {
      flex-basis: 32%;
      margin-right: 2%;
    }
    img {
      display: block;
    }
    .summary {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: fit-content;
      text-align: center;
      background-color: rgba(0,0,0,0.5);
      color: $white;
      padding: 10px 0;
      @media (min-width: $desktop-min-width) {
        padding: 0;
        &:hover {
          color: $lightblue;
        }
      }
      .name {
        margin-bottom: 0;
        color: inherit;
      }
      .title {
        color: inherit;
        @media (min-width: $desktop-min-width) {
          font-size: 30px;
        }
      }
    }
  }
}


.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 16px;
}