@import "variable";
@import "fonts";
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

body {
  overflow-x: hidden;
  margin: 0;
  letter-spacing: 0.5px;
}

h1 {
  font-size: 30px;
  @include media-breakpoint-up(lg) {
    font-size: 45px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 54px;
  }
}

h2 {
  font-size: 25px;
  margin-bottom: 30px;
  @include media-breakpoint-up(lg) {
    font-size: 37px;
    margin-bottom: 80px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 45px;
  }
  &.underline {
    text-transform: uppercase;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 5px solid $red;
    @include media-breakpoint-up(lg) {
      border-bottom: 10px solid $red;
    }
  }
}

h3 {
  font-size: 22px;
  @include media-breakpoint-up(lg) {
    font-size: 37px;
  }
}

h4 {
  font-size: 20px;
  @include media-breakpoint-up(lg) {
    font-size: 30px;
  }
}

h5 {
  font-size: 18px;
  @include media-breakpoint-up(lg) {
    font-size: 25px;
  }
}

ul, ol {
  font-size: 14px;
  letter-spacing: 0.4px;
  margin-top: 0;
  margin-bottom: 30px;
  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 18px;
  }
}

nav ul, nav ol {
  list-style-type: none;
  padding: 0;
  font-weight: 700;
}

nav ul li, nav ol li {
  padding: 0.5rem 1rem;
}

nav ul li a, nav ol li a {
  text-decoration: none;
  color: black;
}

img {
  width: auto;
  height: auto;
  display: block;
}

a {
  @include media-breakpoint-up(lg) {
    &:hover {
      color: $cyan;
    }
  }
  &.button {
    position: relative;
    display: inline-block;
    color: $red;
    font-weight: 600;
    background-color: $white;
    padding: 5px 20px;
    text-decoration: none;
    border-bottom: 3px solid $black;
    box-shadow: 0px 1px 0 0 $white;
    border-radius: 10px;
    @include media-breakpoint-up(lg) {
      &:hover {
        background-color: $red;
        color: $white;
      }
    }
  }
}

p {
  line-height: 35px;
}


.table {
  tbody {
    tr {
      @include media-breakpoint-up(lg) {
        &:hover {
          font-weight: 700;
        }
      }
    }
  }
  tr {
    th {
 
    }
    td {
      p:last-of-type {
        margin-bottom: 0;
      }
      ul {
        padding-left: 2rem;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

.breadcrumb {
  margin-top: 30px;
  a {
    text-decoration: none;
    &.active {
      &:last-child {
        color: $cyan;
      }
    }
  }
  > span {
    margin: 0 10px;
  }
}

.overviews {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  @include media-breakpoint-up(sm) {
    justify-content: space-between;
  }
  @include media-breakpoint-up(lg) {
    justify-content: unset;
    margin-bottom: 50px;
  }
  .overview {
    position: relative;
    margin-bottom: 30px;
    flex-basis: 100%;
    @include media-breakpoint-up(sm) {
      flex-basis: 48%;
    }
    @include media-breakpoint-up(lg) {
      margin-right: 2%;
      flex-basis: 32%;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    @include media-breakpoint-up(xxl) {
      margin-right: 2%;
      flex-basis: 23.5%;
      &:nth-child(3n) {
        margin-right: 2%;
      }
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
    a {
      text-decoration: none;
    }
    img {
      width: 100%;
      @include media-breakpoint-up(sm) {
        height: 200px;
      }
      @include media-breakpoint-up(md) {
        height: 250px;
      }
      @include media-breakpoint-up(lg) {
        height: 300px;
      }
      @include media-breakpoint-up(xl) {
        height: 350px;
      }
      @include media-breakpoint-up(xxl) {
        height: 400px;
      }
    }
    .title {
      text-align: center;
      color: $white;
      background-color: grey;
      padding: 10px 0;
      font-size: 20px;
    }
    h2 {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      height: fit-content;
      text-align: center;
      background-color: grey;
      padding: 10px 0;
      font-size: 20px;
      @include media-breakpoint-up(lg) {
        &:hover {
          color: $cyan;
        }
      }
    }
  }
}

.card_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  @include media-breakpoint-up(lg) {
    margin-bottom: 50px;
    > div:nth-child(3n) {
      margin-right: 0;
    }
  }
  .card {
    position: relative;
    margin-bottom: 30px;
    @include media-breakpoint-up(lg) {
      flex-basis: 32%;
      margin-right: 2%;
    }
    img {
      width: 100%;
    }
    .summary {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: fit-content;
      text-align: center;
      background-color: rgba(0,0,0,0.5);
      color: $white;
      padding: 10px 0;
      @include media-breakpoint-up(lg) {
        padding: 0;
        &:hover {
          color: $cyan;
        }
      }
      .name {
        margin-bottom: 0;
        color: inherit;
      }
      .title {
        color: inherit;
        @include media-breakpoint-up(lg) {
          font-size: 30px;
        }
      }
    }
  }
}

.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 16px;
}
